<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<!--/*/ <th:block th:include="includes/components :: bootstrapCSS"></th:block> /*/-->
<body>
<h1>The page you have requested for, could not be found.</h1>
</body>
<!--/*/ <th:block th:include="includes/components :: bootstrapJS"></th:block> /*/-->
<!--/*/ <th:block th:include="includes/components :: FusionJS"></th:block> /*/-->
<script th:inline="javascript">
    (function () {
        Fusion.initialize()
        setTimeout(function () {
            dashboard.initialize(document.getElementById('root'))
        }, 30)
        setTimeout(function () {
            routes.initialize()
        }, 30)
    }())

</script>
</html>
