<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--/*/ <th:block th:include="includes/components :: bootstrapCSS"></th:block> /*/-->
<body>
<div id="header"></div>
<div id="root">
</div>
</body>
<!--/*/ <th:block th:include="includes/components :: bootstrapJS"></th:block> /*/-->
<!--/*/ <th:block th:include="includes/components :: FusionJS"></th:block> /*/-->
<script th:inline="javascript">
    (function () {
        Fusion.initialize()
        setTimeout(function () {
            dashboard.initialize(document.getElementById('root'))
        }, 30)
    }())

</script>
</html>
