<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="components">
    <link th:href="@{/contents/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/contents/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/contents/js/bootstrap.js}"></script>
    <script th:src="@{/contents/js/popper.min.js}"></script>
    <script th:src="@{/contents/js/fusion/fusion.js}"></script>
    <script th:src="@{/contents/js/fusion/fusion.init.js}"></script>
    <script th:src="@{/contents/js/fusion/fusion.navbar.js}"></script>
</head>
<body>

</body>
</html>